<div id="chart-explanation" class="row">
  <div class="col-md-12">
    <h4>What is the safest US State?</h4>
    <p>While "safety" is always going to be a relative term in many ways, I've attempted to use US Sensus data to look at the relative safety of given states.</p>
    <p>Sorting is based on:
      <ul>
        <li>Current military occupants <i>(you'd like a lot of these in a zombie outbreak, etc)</i></li>
        <li>Total population <i>(you'd like less people to turn into zombies, riot, etc)</i></li>
        <li>Total housing units <i>(We'll assume a lower number here indicates more spread out dwellings)</i></li>
        <li>Total housing occupied <i>(We'll want this number to be low, again indicating less neighbors to deal with in the apocalypse)</i></li>
        <li>Total housing unoccupied <i>(We'd like to see this high as it indicates places to move to should trouble arise)</i></li>
      </ul>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="safest-states-canvas-holder">
    <h4>Top Ten Safest States</h4>
    <!-- <canvas id="safest-states-chart-area"/> -->
    <canvas id="safest-states-chart-area" data=<%= @safestPlaces %>/>
  </div>
  <div class="col-md-12" id="scariest-states-canvas-holder">
    <h4>Top Ten Scariest States</h4>
    <canvas id="scariest-states-chart-area"data=<%= @scariestPlaces %>/>
  </div>
</div>